$btn-vertical-padding: 0.2em;
$btn-horizontal-padding: 0.75em;

.btn {
  position: relative;
  display: inline-block;
  margin: 10px 10px 18px;
  padding: $btn-vertical-padding $btn-horizontal-padding;
  background-color: $wild_sand;
  border: 1px solid rgba($dark_color,0.25);
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 2px 2px 0.5px rgba(0,0,0,0.15);
  overflow: hidden;

  font-size: 1.5em;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: $btn-vertical-padding;
    left: 50%;

    display: block;
    width: 0;
    height: 2px;
    background-color: rgba(0,0,0,0.5);

    @include vp-transition(0.3s ease);
    @include vp-transform(translateX(-50%));
  }

  &--colored {
    border: 0;
    background-color: $dark_color;
    color: $light_color;

    &::after {
      background-color: $light_color;
    }
  }

  &--big {
    font-size: 2em;
    font-weight: bold;
  }

  &:hover {
    @include vp-transition(0.2s ease);
    box-shadow: 0 3px 2px 0.5px rgba(0,0,0,0.25);

    &::after {
      width: calc(100% - #{$btn-horizontal-padding * 2});
    }
  }

  &:active {
    @include vp-transition(0.1s ease);

    box-shadow: 0 2px 2px 0.5px rgba(0,0,0,0.25);
    @include vp-transform(translateY(2px));
  }
}

.window {
  position: relative;
  width: 800px;
  min-height: 800px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  box-shadow:
          0 3px 5px -1px rgba(0,0,0,0.5),
          0 4px 4px -2px rgba(0,0,0,0.25);
}

.page {
  position: absolute;
  top: 0;
  left: 100%;

  @include vp-flexbox;
  @include vp-flex-flow(column nowrap);
  width: 100%;
  height: 100%;
  background-color: $light_color;

  @include vp-transition(0.3s ease);

  &--top {
    left: 0;
    top: -100%;
  }

  &--bottom {
    left: 0;
    top: 100%;
  }

  &:nth-child(8n+1) {
    $accent_color: $yellow_orange;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(2) {
    $accent_color: $lochmara;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(8n+3) {
    $accent_color: $persian_red;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(8n+4) {
    $accent_color: $limeade;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(8n+5) {
    $accent_color: $bondi_blue;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(8n+6) {
    $accent_color: $mandy;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(8n+7) {
    $accent_color: $moody_blue;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }

  &:nth-child(8n+8) {
    $accent_color: $glade_green;

    .page_header,
    .btn--colored,
    .page-qn_answer.is-selected {
      background-color: $accent_color;
    }
  }
}

.page_header {
  padding: 25px 0;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: $light_color;
}

.page_content {
  @include vp-flex-grow(1);
  min-height: 0;
}