.page-start {
  left: 0;
}

.page-start_title-sub {
  display: block;
  width: 100%;
  padding: 25px 25px;
  font-size: 4em;
  font-weight: $black;
  text-align: center;
  color: $yellow_orange;
}

.page-start_content {
  @include vp-flex-grow(1);
  @include vp-flexbox;
  @include vp-flex-direction(column);
  @include vp-align-items(center);
  @include vp-justify-content(center);
  padding: 0 15%;
}

.page-start_des {
  @include vp-flex-grow(1);
  padding: 25% 0 0 0;
  font-size: 1.2em;
  text-align: center;
}

.page-start_btn {
  margin: 0 0 0.5em;
}