
//* Цвета ********************************//

$yellow_orange: #ff8c00;
$lochmara: #0078d7;
$persian_red: #d13438;
$limeade: #498205;
$bondi_blue: #0099bc;
$mandy: #e74856;
$moody_blue: #6b69d6;
$shuttle_gray: #515c6b;
$glade_green: #647c64;

$alabaster: #fbfbfb;
$mine-shaft: #333333;
$wild_sand: #f6f6f6;

$light_color: #fbfbfb;
$dark_color: #333333;

//* Толщина начертания шрифта ************//

$black: 900;